.header {
    display: flex;
    position: fixed;
    top: 0;
    width: 100%;
    padding: 20px 70px;
    justify-content: space-between;
    background-color: #fff;
    border-bottom: 1px solid rgba(121, 117, 117, 0.2);
  }